body {
<<<<<<< HEAD
    background-color: #eee;
}

#form-box{
    background-color: #fff;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 80px;
    padding: 50px;
    box-shadow: 10px 10px 50px #888888;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
   #form-box{
    background-color: #fff;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 80px;
    padding: 50px;
    box-shadow: 10px 10px 50px #888888;
    margin-bottom: 80px;
    }    
    
}

.memcontain {
    margin-bottom: 30px;
    color: #199EB8;
=======
    background-color: lightcyan;
}

@media only screen and (min-width: 500px) {
    .memform {
        position: absolute;
        left: 50%;
        margin-left: -250px;
        width: 500px;
        top: 50%;
        margin-top: -250px;
        margin-bottom: 250px;
    }
}

.memform {
    padding: 20px 5px 20px 5px;
}

.memcontain {
    color: steelblue;
>>>>>>> 308b37aea357de8c820ed1da4ff79b1417c52a93
}

.success {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: white;
    margin-bottom: 10px;
    display: none;
}

.hero {
    padding-top: 3em;
    font-family: Raleway;
    font-weight: 700;
    color: crimson;
}